@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


html {
  height: 650px;
}

#schedule-main {
  width: 85vw;
  margin-left: auto;

  animation: fadeIn 1s ease;
}

.subheader {
  text-align: center;
  text-decoration: underline;
}

#buttons {
  position: absolute;
  right: 120px;
  top: -220px;
  display: flex;
  width: 15%;
  margin: 250px auto;
  justify-content: space-between;
}

.schedule {
  width: 85vw;
  margin-left: auto;
  margin: 0 auto;
  height: 10px;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.bays {
  background-color: lightgrey;
  padding: 10px 0 10px 0;
}

.schedule_base {
  display: relative;
  border: 1px solid black;
  box-sizing: border-box;
  width: 1080.8px;
  margin: 0 auto;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}

.schedule_header th:first-child {
  box-sizing: border-box;
  width: 80px
}

/* All borders of the grid */
.schedule_row td {
  box-sizing: border-box;
  height: 60px;
  padding: 0px 20px;
  border: 1px solid black;
  width: 100px;
}

/* All borders of schedule timing */
.schedule_row td:first-child {
  padding: 0;
  text-align: center;
  font-size: 14px;

  background-color: #b3b7f6;
}

#cars {
  position: relative;
  left: 0;
}

.car {
  box-sizing: border-box;
  width: 100px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
  background-color: rgb(215, 148, 53);
  position: absolute;
  font-size: small;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car p {
  font-size: 12px;
  margin: -2px 0;
}

#compact {
  background-color: rgb(148, 209, 250);
}

#medium {
  background-color: rgb(189, 123, 251);
}

#full-size {
  background-color: rgb(240, 123, 251);
}

#class1truck {
  background-color: rgb(215, 148, 53);
}

#class2truck {
  background-color: rgb(215, 85, 53);
}
