@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  height: 650px;
}

#schedule-main {
  width: 85vw;
  margin-left: auto;
}

.subheader {
  text-align: center;
}

#buttons {
  position: absolute;
  right: 120px;
  top: -220px;
  display: flex;
  width: 15%;
  margin: 250px auto;
  justify-content: space-between;
}

.schedule {
  width: 85vw;
  margin-left: auto;
  margin: 0 auto;
  height: 10px;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.schedule_base {
  display: relative;
  border: 1px solid black;
  box-sizing: border-box;
  width: 1080.8px;
  margin: 0 auto;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}

.schedule_header th:first-child {
  box-sizing: border-box;
  width: 80px
}

.schedule_row td {
  box-sizing: border-box;
  height: 60px;
  padding: 0px 20px;
  border: 1px solid black;
  width: 100px;
}

.schedule_row td:first-child {
  padding: 0;
  text-align: center;
  font-size: 14px;
}

#cars {
  position: relative;
  left: 0;
}

.car {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  position: absolute;
  font-size: small;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car p {
  font-size: 12px;
  margin: -2px 0;
}
