@font-face {
  font-family: "Robinson";
  src: url("../../assets/Robinson-Regular.otf");
}

#total-revenue {
  height: 30vh
}

#walkins {
  height: 20vh;
}

#reservations {
  
}

#most-profitable-vehicle {
  height: 20vh;
}

#least-profitable-vehicle {
  
}

#customers-taken-text {
  
}

#customers-rejected {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#customers-rejected2 {
  padding: 10px;
}

#total-revenue {
  margin: 0;
  font-size: 170px;
  font-family: 'Robinson';
  display: flex;
  justify-content: left;
}

#customers-taken {
  margin-top: 10%;
  margin-bottom: 0;
  font-size: 140px;
  font-family: 'Robinson';

  display: flex;
  justify-content: center;
}

#walkins {
  height: 300px;
}

.analytics-walkres-number {
  font-family: Robinson;
  font-size: 70px;
  margin: 0;
}

.analytics-walk-res-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10% 40% 0 40%;
}

.analytics-walk-res-icons {
  height: 50px;
}

.analytics-loss {
  font-family: 'Robinson';
  font-size: 70px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.analytics-customers {
  margin: 10px;
}

.analytics-customers h2 {
  display: flex;
  justify-content: center;
}

.analytics-car-item {
  width: 22.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.analytics-car-item2 {
  width: 22.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-checkmark-container {
  width: 12%;
  margin-left: 15px;
  margin-right: 33%;
  display: flex;
  justify-content: center;
}

.analytics-checkmark-text {
  font-size: 21px;
  font-weight: bolder;
  margin-left: 30%;
}

.analytics-checkmark {
  width: 100%;
  justify-content: center;
}

.analytics-cross-container {
  width: 15%;
  margin-left: 15px;
  margin-right: 33%;
  display: flex;
  justify-content: center;
}

.analytics-money-container {
  width: 8%;
  margin-left: 15px;
  margin-right: 20%;
  display: flex;
  justify-content: center;
}

.analytics-icon {
  width: 45%;
}

.analytics-car {
  margin: 5px 0 5px 0;
}

.analytics-car-name {
  font-weight: bolder;
  font-size: 21px;
}

.analytics-main-container {
  margin-left: 13vw;
  padding-left: 1.5vw;
  height: 240vh;
}
