@font-face {
  font-family: "Poppins";
  src: url("../../assets/Poppins-Regular.ttf");
}

/* ### REUSABLE CSS START ### */
div {
  border: 3px red solid;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 38px;
}

.font-small {
  font-size: 12px;
}

/* SIDEBAR */

#logo {
  border: 1px blue solid;
  height: 30px;
  margin-left: 15px;
  margin-right: 5px; 
  filter: invert(1);
}

.sidebar-title {
  margin-top: 0px;
  font-size: 21px;
  display: flex;
  align-items: center;

}

.sidebar {
  height: 100%;
  width: 13vw;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #010104;
  overflow-x: hidden;
  padding-top: 20px;
  color: #eae9fc;
}

.sidebar-item {
  padding: 5px 0px 5px 15px;
  text-decoration: none;
  font-size: 16px;
  color: #eae9fc;
  display: block;
}
/* SIDEBAR END */
/* MAIN CONTAINER */


#daily-upcoming-schedules {

}

#daily-possible-profit {

}

#daily-customers-done-ratio {

}

#daily-customers-rejected {
  
}

.dashboard-row {
  display: flex;
  height: 40vh;
}

.main-container {
  margin-left: 13vw;
  padding-left: 1vw;
  height: 100vh;
}

.main-container-title {
  display: flex;
  align-items: center;
  vertical-align: center;

}

.main-container-title-child {
  border: 3px green solid;
}

.main-container-row1 {
  display: flex;
}

/* REUSABLE CSS END */
