#daily-upcoming-schedules {
  width:70%;
}

#daily-customers-done-ratio {
  width: 30%;
}

#daily-possible-profit {
  width: 70%;
}

#daily-customers-rejected {
  width: 30%;
}

.dashboard-row {
  display: flex;
  height: 40vh;
}
#progress-bar {
  border: 2px solid black;
}

#progress-bar-inside {
  height: 100%;
  width: 20%;
  background-color: #3c6dff;
}
